body {
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #e0e0e0;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.App {
  height: 100%;
  width: 100%;
}
.App * {
  transition: 0.2s;
}
.navigatorBar {
  background-color: #0b78d8;

  width: 150px;
  position: fixed;

  height: 100%;
}
.scheduleEditor {
  display: flex;
  height: calc(100vh - 90px);
  margin-left: 150px;
  transition: 0s;
  background-color: rgb(255, 255, 255);
}

/* header styling */
.searchBarContainer {
  float: right;
  height: 20px;
}
.headerBar {
  display: flex;
  justify-content: space-between;
  background-color: #0987f6;
  color: #fff;
  height: 80px;
}

.accountInfoContainer {
  margin: 16px;
  float: left;
}
.accountNameText {
  font-size: 19px;
  font-weight: 500;
  margin: 11px;
  float: left;
}
.accountIconImage {
  width: 50px;
  float: left;
}
.searchBarContainer {
  float: left;
}
.searchBarInput {
  all: unset;

  color: #fff;
  height: 100%;
  width: 100%;
  padding: 6px 10px;
}
.searchBarInput::placeholder {
  color: white;
  font-size: 19px;
}
.searchBarForm {
  background-color: #7cb2f9c4;
  width: 250px;
  height: 40px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px;
  margin-right: 20px;
}
.systemImageLogoContainer {
  float: left;
}
.systemLogoImage {
  width: 130px;
  margin: 10px;
  margin-top: 14px;
}
.toolBarImage {
  width: 400px;
  margin: 14px;
}
.toolBarContainer {
  float: left;
}

/* navigator styling */
.navigatorIndividualSelectorImageSelected {
  width: 70px;
  margin: 14px;
}
.navigatorIndividualSelectorImageUnselected {
  width: 120px;
  margin: -10px;
}
.navigatorIndividualSelectorContainerSelected {
  margin: 25px;
  border-radius: 10px;
  width: 100px;
  height: 100px;
  background-color: #7cb2f9c4;
}
.navigatorIndividualSelectorContainerUnselected {
  margin: 29px;
  border-radius: 10px;
  width: 90px;
  height: 90px;
}

/* content styling */
.schduleSelectorText {
  font-weight: 300;
  width: max-content;
  margin: auto;
  font-size: 18px;
}
.scheduleCreateButtonText {
  cursor: pointer;
  font-size: 50px;
  width: 10px;
  font-weight: 400;
  color: #0987f6;
  margin: 0px;
}
.scheduleCreateButtonText:hover {
  font-size: 50px;
  filter: opacity(50%);
  font-weight: 400;
  color: #0987f6;
  margin: 0px;
}

.scheduleSelectorIndividualContainerUnselected {
  background-color: #ffffff;
  width: 200px;
  padding: 40px;
  color: #c2c2c2;
  margin: 20px;
  border-radius: 10px;
  margin-left: 30px;
  margin-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
}
.scheduleEditorIndividualOperationDropdownOptionText {
  font-weight: 400;
  margin: 0px;
  margin-top: 5px;
  font-size: 16px;
}
.scheduleEditorIndividualOperationDropdownOptionContainer {
  display: flex;
  flex-direction: row;
  width: 250px;
  justify-content: space-between;
  margin: 30px;
  margin-left: 50px;
}
.scheduleEditorIndividualOperationDropdownDeleteText {
  font-size: 16px;
  font-weight: 400;
  color: #0987f6;
  margin: 0px;
  margin-top: 5px;
  cursor: pointer;
}
.scheduleEditorIndividualOperationDropdownDeleteText:hover {
  font-size: 16px;
  font-weight: 400;
  color: #0987f6;
  filter: opacity(50%);
  margin: 0px;
  cursor: pointer;
  margin-top: 5px;
}
.scheduleEditorIndividualOperationDropdownOptionInput {
  background-color: transparent;
  border-radius: 10px;
  font-size: 16px;
  height: 20px;
  width: 150px;
  border: 3px solid rgb(223, 223, 223);
}
.scheduleSelectorIndividualContainerUnselected:hover {
  background-color: #ffffff;
  width: 200px;
  padding: 40px;
  color: #000000;
  margin: 20px;
  border-radius: 10px;
  margin-left: 30px;
  margin-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
}
.scheduleSelectorIndividualContainerSelected {
  background-color: #f2f2f2;
  width: 200px;
  padding: 40px;
  margin: 20px;
  border-radius: 10px;
  margin-left: 30px;
  margin-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
}
.scheduleCreateButtonContainer {
  margin: 30px;
  margin-top: 10px;
}
.schdeduleSelectorContainer {
  height: 100%;
}
.openScheduleEditorContainer {
  flex: 1;
  margin: 20px;
  margin-left: 0px;
}
.scheduleEditorSelectorContainer {
  display: flex;
  justify-content: space-between;
  margin-left: 13px;
  margin-bottom: -2px;
}
.scheduleEditorContentContainer {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  background-color: #f2f2f2;
  box-shadow: inset 0 0 10px #d3d3d3;

  border-radius: 10px;
  width: 100%;
  height: calc(100% - 44px);
}
.scheduleEditorSelectorIndividualTextSelected {
  font-weight: 400;
  font-size: 19px;
  color: #0987f6;
}
.scheduleEditorSelectorIndividualTextUnselected {
  font-weight: 400;
  font-size: 19px;
  color: #c2c2c2;
}
.scheduleEditorSelectorIndividualTextUnselected:hover {
  font-weight: 400;
  font-size: 19px;
  color: #0987f6;
  cursor: pointer;
}

.scheduleEditorSelectorIndividualContainerSelected {
  border-bottom: 3px solid #0987f6;
  flex: 1;
  text-align: center;
}
.scheduleEditorSelectorIndividualContainerUnselected {
  flex: 1;
  text-align: center;
}
.scheduleEditorIndividualOperationContainer {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  box-shadow: -1px 1px 5px 2px rgba(219, 219, 219, 0.75);

  margin: 20px;
}
.scheduleEditorIndividualOperationTopContainer {
  display: flex;
  flex: 1;
  justify-content: space-between;
  background-color: white;
  border-radius: 10px;
  height: 70px;
}
.scheduleEditorIndividualOperationDropdownContainer {
  background-color: rgb(255, 255, 255);
  display: block;
  border-radius: 10px;
  width: 100%;
}
.scheduleEditorCreateOptionsContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-shadow: -1px 1px 5px 2px rgba(219, 219, 219, 0.75);

  background-color: white;
  border-radius: 10px;
  height: max-content;
  margin: 20px;
}
.scheduleEditorCreateOptionsText {
  font-weight: 400;
  font-size: 19px;
  margin: 17px;
  margin-bottom: 10px;
}
.scheduleEditorCreateOptionsInnerContainer {
  display: flex;

  background-color: #f2f2f2;
  border-radius: 10px;
  flex: 1;
  margin: 10px;
  padding-right: 10px;
}
.scheduleEditorCreateOptionsIndividualContainer {
  background-color: white;
  flex: 1;
  height: max-content;
  margin: 0.7vh;
  border-radius: 1vh;
  margin-right: 0px;
  cursor: pointer;
}
.scheduleEditorCreateOptionsIndividualContainer:hover {
  background-color: white;
  outline: 3px solid #0987f6;

  flex: 1;
  height: max-content;
  margin: 0.7vh;
  margin-right: 0px;

  border-radius: 10px;
}
.createScheduleInput {
  background-color: transparent;
  border: 0px;
  width: 258px;
  font-size: 19px;
  height: 32px;
  text-align: center;
  border-radius: 10px;
}
.createScheduleContainer {
  background-color: #ffffff;
  width: 200px;
  padding: 40px;
  color: #c2c2c2;
  margin: 20px;
  border-radius: 10px;
  margin-left: 0px;
  margin-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
}
.scheduleEditorCreateOptionsIndividualImage {
  width: 50%;
  margin: 24%;
  pointer-events: none;

  margin-top: 24%;
}
.scheduleEditorArrowImage {
  width: 20px;
  margin: 15px;
  margin-bottom: -10px;
  filter: invert() opacity(100%);
  cursor: pointer;
}
.scheduleEditorArrowImage:hover {
  width: 20px;
  margin: 15px;
  margin-bottom: -10px;
  filter: invert() opacity(50%);
  cursor: pointer;
}
.scheduleEditorArrowsContainer {
  width: 50px;
  float: left;
}
.scheduleEditorHamburgerImage {
  width: 40px;
  cursor: pointer;
  margin: 5px;
  margin-top: 15px;
  filter: opacity(100%);
}
.scheduleEditorHamburgerImage:hover {
  width: 40px;
  margin: 5px;
  margin-top: 15px;
  filter: opacity(50%);
}
.scheduleEditorIndividualOperationTextContainer {
  float: left;
}
.scheduleEditorIndividualOperationText {
  margin: 24px;
  font-weight: 400;
  font-size: 19px;
}
.operationDirectionContainer {
  display: flex;

  margin-top: 0px;
  margin-bottom: 0px;
}
.operationDirectionImage {
  margin: auto;
  width: 30px;
  filter: brightness(1.2);
}
.operationCreateButtonText {
  color: #0987f6;
  cursor: pointer;
  font-weight: 400;
  font-size: 50px;
  margin: auto;
}
.operationCreateButtonText:hover {
  color: #0987f6;
  cursor: pointer;
  font-weight: 400;
  font-size: 50px;
  margin: auto;
  filter: opacity(50%);
}
.operationCreateButtonContainer {
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
}
